<%- include("partials/header"); -%>
<div style="text-align:center; color: #1abc9c;">
<h1>About Me</h1>
</div>
<div style="margin:10%; margin-top: 5%">
<img src="images/profile.png" alt="" style="float:left; height:150px; width:150px; margin-right:5%;">

<p> This blog is borne out of a desire to highlight the topics which are not extensively covered by most of the media houses. One of the defect is that the media often portray non-issues as real issues, while the real issues are sidelined.
  The real issues in India are economic, that is, the terrible economic conditions in which 80 per cent of our people are living, the poverty, unemployment, lack of housing and medical care and so on. Instead of addressing these real issues, the media often try to divert the attention of people to non-issues.</p>

</div><%- include("partials/footer"); -%>
